body {
  background: #48c6ef;
  background: -webkit-linear-gradient(
    to right,
    rgba(72, 198, 239, 0.5),
    rgba(111, 134, 214, 0.5)
  );
  background: linear-gradient(
    to right,
    rgba(72, 198, 239, 0.5),
    rgba(111, 134, 214, 0.5)
  );
}
